.products h2{
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.Products-container {
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 80%;
  margin: 0 auto 8% auto;
  padding: 7% 2%;
}

.Products-container h3 {
  font-size: 16px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.Products-box{
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  gap: 50px 30px;
}

.Products-peace {
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 2%;
  
}

.Products-peace img{
  width: 200px;
  height: 150px;
  /* padding: 15px; */
}