.products h2{
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.Products-container {
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 80%;
  margin: 0 auto 8% auto;
  padding: 7% 2%;
}

.Products-container h3 {
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.Products-container p {
  font-size: 16px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.Products-box{
  width:90%;
  height: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px 30px;
  margin: 0 auto;
}

.Products-peace {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 2%;
  
}

.Products-peace img{
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}