.productsPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 117px;
  background: #f0f0f0;
}

.ProductsCard {
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 40px 0 40px 0;
  padding: 0;
  width: 80%;
  height: auto;
}

.ProductsCardTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productsCardImg {
  width: 70%;
  height: auto;
}

.productsPage h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
  padding: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.productsPage h3 {
  font-size: 1.5rem;
  text-align: start;
  margin: 0px;
  padding: 5px 0 0 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.productsPage p {
  font-size: 1rem;
  text-align: start;
  margin: 0px;
  padding: 0px 10px 10px 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.productsPage a {
  font-size: 1rem;
  text-align: start;
  margin: 0px;
  padding: 0px 10px 10px 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.productsCardText {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 15% 5% 15%;
  gap: 5%;
}

.backButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.backButton {
  width: 100px;
  height: 30px;
  background: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 5px;

}