.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.link-outside img {
  width: 30px;
  margin-left: 10px;
}
