body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #333;

  background: url('./assets/images/water02.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}