.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 7% 2%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  width: 80%;
  margin: 8% auto;
}

.profile-image {
  width: 35%;
  height: 35%;
  border-radius: 5%;
}

.profile-text h3 {
  font-size: 26px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.profile-text p {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
